<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bira: Log In</title>
    <link rel="stylesheet" href="../css/signin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
</head>
<body>
    <img src="./images/loginPage.jpg" alt="">
    <div class="container">
        <form action="/api/users/login" method="POST">
            <h1>Login</h1>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email">
                <i class='bx bx-envelope'></i>
            </div>

            <div class="input-box" id="password-input-box">
                <input type="password" name="password" placeholder="Password" id="password">
                <i class='bx bx-lock-alt'></i>
                <svg onclick="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="cursor: pointer; width: 24px; height: 24px;">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0zm-9.879 2.122A7.975 7.975 0 004 12c0-1.657.634-3.175 1.685-4.329m13.63 0A7.975 7.975 0 0120 12c0 1.657-.634 3.175-1.685 4.329M12 6v.01M12 6a9 9 0 019 9 9 9 0 01-18 0 9 9 0 019-9z" />
                </svg>
            </div>
            <div class="remember">
                <input type="checkbox" id="rememberMe" name="rememberMe">
                <label for="rememberMe">Remember me</label>
            </div>
            <button class="loginbtn" type="submit">Login</button>
            <div class="register">
                <p>Don't have an account? <br> <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</body>
</html>